{% extends 'base.html' %}

{% block content %}

{% if object %}
<!-- below is editing a existing tape  -->
  <h1 class="indigo-text">Edit {{ object.name }}</h1>
  <form action="" method="POST">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <input type="submit" value="Submit" class="btn indigo amber-text accent-4">
  </form>

{% else %}
  <!-- above is editing a existing tape  -->

  <h1 class="center indigo-text">Search Movie Title</h1>
<br>
<!-- here's the search -->


<form action="{% url 'search_movies' %}" method="POST">
  <div class="row">
    <button class="btn-small indigo amber-text accent-4">Search</button>
    {% csrf_token %}
    <input type="search" class="browser-default" placeholder="Search for a movie..." name="searched" value="">
  </div>
</div>
</form>

<!-- above is the search  -->
{% if searched %}
<div class="row">
    {% for x in search_response %}
    <div class="col s6 m4">
      <div class="card indigo">
        <form action="{% url 'assoc_tape' %}" method="POST">
          <div class="card-content">
            <h4 class="center indigo amber-text">{{ x.Title }}</h4>
              <h6 class="center indigo amber-text">{{ x.Year }}</h6>
              <div class="center">
                <img class="responsive-img" src="{{ x.Poster }}" alt="Poster">
              </div>
                {% csrf_token %}
                <input type="hidden" class="browser-default" name="searched" value="{{ x.imdbID }}">
                <div class="center">
                <button class="btn red white-text lighten-1 center"><i>add</i></button>
                </div>
          </div>
        </div>
      </div>  
      </form>
    {% endfor %}
</div>


  {% else %} 
{% endif %}
{% endif %}
{% endblock %}