{% extends 'base.html' %}

{% block content %}

{% if object %}
  <h1>Edit <span class="teal-text">{{ object.name }}</span></h1>
{% else %}
<h1>Add A Tape to the Shelf</h1>
<!-- heres the search -->


<form action="{% url 'search_movies' %}" method="POST">
  {% csrf_token %}
  <input type="search" placeholder="Search" name="searched">
</li>
<li>
  <button class="btn amber indigo-text accent-4">Search</button>
</form>

<!-- above is the search and below is the creation form -->

<form action="" method="POST">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <input type="submit" value="Submit" class="btn indigo amber-text accent-4">
</form>

<!-- {% endif %} -->
{% endblock %}