{% extends 'base.html' %}
{% block content %}



<h3 class="truncate center-align">About the Death of Physical Media</h3>
<p class="z-depth-1"> &nbsp;&nbsp;According to <a href="https://legacybox.com/blogs/analog/the-fate-of-the-vhs#:~:text=In%202003%2C%20the%20VHS%20began,%2C%E2%80%9D%20which%20debuted%20in%202006." class="amber-text accent-3">LegacyBox</a>, In 2003, the VHS began to die off the market, overcome by DVD sales and online rentals. What was once a progressive icon became a tech dinosaur—the fate &nbsp;&nbsp;of so many inventions. The final movie produced in VHS format was “A History in Violence,” which debuted in 2006. </p>

<h4 class="center-align ">VHS Fun Facts</h4>
<p class="z-depth-1">  <a href="https://southtree.com/blogs/artifact/10-fun-facts-about-the-vhs-that-will-blow-your-mind" class="amber-text accent-3">&nbsp;&nbsp;Southtree</a> provides the following fun facts: <br><br>
  &nbsp;&nbsp;1. The VHS tape was invented by JVC in the early 1970s in Japan. <br><br>
  &nbsp;&nbsp;2. The first movie released on VHS was The Young Teacher, a South Korean drama about a teacher who organizes a volleyball game at her school to boost self-confidence and school &nbsp;&nbsp;&nbsp;spirit in her students. <br><br>
  &nbsp;&nbsp;3. The best selling movie sold on VHS was The Lion King in 1995. 32 million copies were sold, generating 520 million in revenue. <br><br>
  &nbsp;&nbsp;4. The VHS tape is 1,410 feet long, allowing for 4-5 hours of play time. <br><br>
  &nbsp;&nbsp;5. The last movie released on VHS was A History of Violence, a thrilling film about a family man in a small town who is forced to protect his friends through an act of violence, rocking &nbsp;&nbsp;&nbsp;&nbsp;his family life to the core and causing people to question his past. The movie was nominated for two Oscars and two Golden Globes and has gained much more recognition due to its &nbsp;&nbsp;&nbsp;status as the last film released on VHS. <br><br>
  &nbsp;&nbsp;6. The world's last VCR was made in June 2016 by Japan's Funai Electric, the last company that produced these devices. <br><br>
  &nbsp;&nbsp; 7. Although no more VCR being produced, you can still get a VCR for as little as $20 on eBay these days! <br><br>
  &nbsp;&nbsp;8. The VCR was sold for $1000-$1400 in 1975 when they were first introduced. <br><br>
  &nbsp;&nbsp;9. The first American films released on VHS were The Sound of Music, Patton, and M*A*S*H. <br><br>
  &nbsp;&nbsp;10. June 7 is now National VCR day!  <br> <br>

</p>



<h4 class="center-align">And What We Can Do to Keep It Alive</h4>
  <p class="z-depth-1" style="font-size:120%;">
    &nbsp;&nbsp;Keep those VHS tapes or join our collector community and trade them for movies you did not get a chance to get. <br>  
    &nbsp;Have a movie night with family and friends in which you don't have to worry about the internet buffering or freezing up. 
  </p>

{% endblock %}
