{% extends 'base.html' %}
{% block content %}

<h3 class="truncate center-align indigo-text">The Demise of the VHS Tape</h3>
<div class="card">
  <p> According to 
    <a href="https://legacybox.com/blogs/analog/the-fate-of-the-vhs#:~:text=In%202003%2C%20the%20VHS%20began,%2C%E2%80%9D%20which%20debuted%20in%202006." class="orange-text darken-4">
      LegacyBox
    </a>, In 2003, the VHS began to die off the market, overcome by DVD sales and online rentals. 
    What was once a progressive icon became a tech dinosaur—the fate of so many
    inventions. The final movie produced in VHS format was “A History in Violence,” which debuted in 2006. 
  </p>
</div>
    <h4 class="center-align indigo-text">VHS Fun Facts</h4>

  <div class="card">
    <p>
      <a href="https://southtree.com/blogs/artifact/10-fun-facts-about-the-vhs-that-will-blow-your-mind" class="orange-text darken-4">
        Southtree    
      </a> provides the following fun facts:
    </p>
      <ol>
        <li>The VHS tape was invented by JVC in the early 1970s in Japan.</li>
        <li>The first movie released on VHS was The Young Teacher, a South Korean 
          drama about a teacher who organizes a volleyball game at her school to 
          boost self-confidence and school spirit in her students.</li>
        <li>The best selling movie sold on VHS was The Lion King in 1995. 32 million copies were sold, generating 520 million in revenue.</li>
        <li>The VHS tape is 1,410 feet long, allowing for 4-5 hours of play time.</li>
        <li>The last movie released on VHS was A History of Violence, a thrilling film about a family man in a 
          small town who is forced to protect his friends through an act of violence, rocking his family life to 
          the core and causing people to question his past. The movie was nominated for two Oscars and two Golden 
          Globes and has gained much more recognition due to its status as the last film released on VHS. </li>
        <li>The world's last VCR was made in June 2016 by Japan's Funai Electric, the last company that produced these devices.</li>
        <li>Although no more VCR being produced, you can still get a VCR for as little as $20 on eBay these days!</li>
        <li>The VCR was sold for $1000-$1400 in 1975 when they were first introduced.</li>
        <li>The first American films released on VHS were The Sound of Music, Patton, and M*A*S*H.</li>
        <li>June 7 is now National VCR day!</li>
      </ol>
</div>

<h4 class="center-align indigo-text">And What We Can Do to Keep It Alive</h4>
<div class="card">
  <p class="white">
    Keep those VHS tapes or join our collector community and trade them for movies you did not get a chance to get. <br>  
    Have a movie night with family and friends in which you don't have to worry about the internet buffering or freezing up. 
  </p>
</div>

{% endblock %}

