{% extends 'base.html' %}

{% block content %}

{% if searched %}
    <h1 class="center indigo-text">You Searched For {{ searched }}</h1>
    <br>
<div class="row">
{% for movie in movies %}
    <div class="col s6">
        <a href="{% url 'movies_detail' movie.id %}" text-decoration="none">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">{{ movie.title }}</span>
                    <p>Director: {{ movie.director }}</p>
                </div>
            </div>
        </a>  
 </div>
{% endfor%}
</div>
<div class="row">
{% for tape in tapes %}
      <a href="{% url 'detail' tape.id %}" text-decoration="none">
          <div class="col s6">
              <div class="card">
                  <div class="card-content">
                      <span class="card-title">VHS: {{ tape.name }}</span>
                      <p>Quantity: {{ tape.quantity }}</p>
                      <p>Quality: {{ tape.quality }}</p>
                  </div>
              </div>
          </div>
      </a>
{% endfor %}
  </div>
{% else %}

  <h1 class="center indigo-text">You need to search first!</h1>

{% endif %}
{% endblock %}