body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: rgba(240, 221, 95, 0.5) !important;

}
  
main {
  flex: 1 0 auto;
  
}
  
footer.page-footer {
  padding-top: 0;
  text-align: right;
}

p {
  margin-left: 10px;;
}