{% extends 'base.html' %}
{% block content %}

<h1 class="center">{{ tape.movie.title }}'s Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ tape.name }}</span>
        <p> {{ tape.movie.year }}</p>
        <p>Quantity: {{ tape.quantity }}</p>
        <p>Quality: {{ tape.quality }}</p>
        <p>Directed by: {{ tape.movie.director }}</p>
        <p>Written by: {{ tape.movie.writer }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'tapes_update' tape.id %}">Edit</a>
        <a href="{% url 'tapes_delete' tape.id %}">Delete</a>
      </div>
    </div>
  </div>
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <img class="responsive-img" src="{{ tape.movie.poster }}" alt="">
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <p> {{ tape.movie.plot }}</p>
        <hr>
        <p> {{ tape.move.actors }}</p>

      </div>
    </div>
  </div>
</div>






{% endblock %}
