{% extends 'base.html' %}
{% block content %}

<h1 class="center">{{ tape.name }}'s Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ tape.name }}</span>
        <p>Quantity: {{ tape.quantity }}</p>
        <p>Quality: {{ tape.quality }}</p>
        {% for movie in tape.movies.all %}
          <p>Title: {{ movie.title }}</p>
          <p>Director: {{ movie.director }}</p>
        {% endfor %}
      </div>
      <div class="card-action">
        <a href="{% url 'tapes_update' tape.id %}">Edit</a>
        <a href="{% url 'tapes_delete' tape.id %}">Delete</a>
      </div>
    </div>
  </div>
  <div class="col s6">
    {% for movie in movies.all %}
    <div class="card">
      <div class="card-content">
    <p>Title: {{ movie.title }}</p>
    <p>Director: {{ movie.director }}</p>
  </div>
  <div class="card-action">
    <form action="{% url 'assoc_movie' tape.id movie.id %}" method="POST">
      {% csrf_token %}
      <button type="submit" class="btn">Add</button>
    </form>
</div>
</div>
{% endfor %}
</div>
</div>





{% endblock %}
