{% extends 'base.html' %}
{% block content %}

<h1 class="center">VHS Shelves</h1>

<div class="row">
  {% for tape in tapes %} 
    <a href="{% url 'detail' tape.id %}">
      <div class="card col s6">
        <div class="card-content">
          <span class="card-title center">{{ tape.name }}</span>
          <p class="center">{{ tape.movie.year }}</p>
          <hr>
          <p>Director: {{ tape.movie.director }}</p>
          <p>Quantity: {{ tape.quantity }}</p>
          <p>Quality: {{ tape.quality }}</p>
        </div>
      </div>
    </a>
  {% endfor %}
</div>      
{% endblock %}