{% extends 'base.html' %}
{% block content %}

<h1 class="center indigo-text">VHS Shelves</h1>

<div class="row">
  {% for tape in tapes %} 
    <a href="{% url 'detail' tape.id %}">
      <div class="col s4 m4">
      <div class="card stack indigo amber-text tapes" style="height:650px">
        <div class="card-content">
          <div class="row">
            <img class="responsive-img small" src="{{ tape.movie.poster }}" alt="">
            <span class="card-title center">{{ tape.name }}</span>
            <p class="center">{{ tape.movie.year }}</p>
          </div>
          <hr>
          <p>Director: {{ tape.movie.director }}</p>
          <p>Quantity: {{ tape.quantity }}</p>
          <p>Quality: {{ tape.quality }}</p>
        </div>
      </div>
    </a>
  </div>
  {% endfor %}
</div>      
{% endblock %}