{% extends 'base.html' %}
{% block content %}

<h1 class="center indigo-text">VHS Shelves</h1>

<div class="row">
  {% for tape in tapes %}
  <a href="{% url 'detail' tape.id %}"></a> 
    <div class="col s12 m6">
      <div class="card indigo amber-text" style="height:650px">
        <div class="card-image">
          <img src="{{ tape.movie.poster }}" alt="{{ tape.name }}">
        </div>
        <div class="card-content indigo amber-text center-align">
          <span class="card-title activator amber-text">{{ tape.name }} {{ tape.movie.year }}<i class="material-icons right">more_vert</i></span>
        </div>
        <div class="card-reveal">
          <span class="card-title indigo-text">{{ tape.name }} {{ tape.movie.year }}<i class="material-icons right">close</i></span>
          <ul class="indigo-text">
            <li>Directed by: {{ tape.movie.director }}</li>
            <li>Written by: {{ tape.movie.writer }}</li>
            <hr>
            <li> {{ tape.movie.plot }}</li>
            <hr>
            <li>Cast: {{ tape.movie.actors }}</li>
            <hr>
            <li>Awards: {{ tape.movie.awards }}</li>
            <a href="https://www.imdb.com/title/{{ tape.movie.imdb_id }}/">
              <li>IMDB Rating: {{ tape.movie.imdb_rating }}</li>
            </a>
          </ul>
        </div>
      </div>
    </div>
  </a>
  {% endfor %}
</div>






{% endblock %}